num_epochs: 10
device: auto

pretrained:
  enabled: false
  path: null

loss:
  name: cross_entropy

likelihood:
  name: categorical

prior:
  name: diagonal_normal
  sd: 1.0
  normalize: false

optimizer:
  name: sgld
  lr: 0.001
  temperature: 1.0  

scheduler:
  enabled: false

sampling:
  enabled: true
  start_epoch: 1
  sample_interval: 1

checkpoint:
  enabled: true
  dataset: val
  metric: loss
  objective: minimize

early_stopping:
  enabled: false
  dataset: val
  metric: loss
  patience: 10
  min_delta: 0.0
  objective: minimize

wandb:
  enabled: true
  project: bnn-edl
  name: null
  log_interval: 20
  summary_metrics:
    val:
      - name: accuracy
        objective: maximize
      - name: loss
        objective: minimize
    test:
      - name: accuracy
        objective: maximize
      - name: loss
        objective: minimize

evaluation:
  train:
    interval: 0
    metrics:
      - name: loss
  val:
    interval: 1
    metrics:
      - name: accuracy
      - name: loss
      - name: bma_accuracy
      - name: bma_cross_entropy
      - name: predictive_entropy
      - name: expected_entropy
      - name: mutual_information
      - name: predictive_variance
      - name: nll
      - name: brier_score
      - name: bma_calibration_error
        params:
          num_classes: 10
          num_bins: 15
          norm: l1

  test:
    interval: -1
    metrics:
      - name: accuracy
      - name: loss
      - name: bma_accuracy
      - name: bma_cross_entropy
      - name: predictive_entropy
      - name: expected_entropy
      - name: mutual_information
      - name: predictive_variance
      - name: nll
      - name: brier_score
      - name: bma_calibration_error
        params:
          num_classes: 10
          num_bins: 15
          norm: l1


