num_epochs: 10
device: auto

pretrained:
  enabled: false
  path: null

loss:
  name: cross_entropy

optimizer:
  name: adam
  lr: 0.001
  weight_decay: 0.0

scheduler:
  enabled: false
  name: cosine_annealing
  T_max: 10
  eta_min: 0

checkpoint:
  enabled: true
  dataset: val
  metric: loss
  objective: minimize

early_stopping:
  enabled: false
  dataset: val
  metric: loss
  patience: 10
  min_delta: 0.0
  objective: minimize

wandb:
  enabled: true
  project: bnn-edl
  name: null
  log_interval: 20
  summary_metrics:
    val:
      - name: accuracy
        objective: maximize
      - name: loss
        objective: minimize
    test:
      - name: accuracy
        objective: maximize
      - name: loss
        objective: minimize

evaluation:
  train:
    interval: 0
    metrics:
      - name: loss
  val:
    interval: 1
    metrics:
      - name: accuracy
      - name: loss
  test:
    interval: -1
    metrics:
      - name: accuracy
      - name: loss
