num_epochs: 10
device: auto

loss:
  name: cross_entropy

optimizer:
  name: adam
  lr: 0.001
  weight_decay: 0.0

scheduler: null

checkpoint:
  enabled: true
  dataset: val
  metric: loss

early_stopping:
  enabled: false
  dataset: val
  metric: loss
  patience: 10
  min_delta: 0.0
  mode: minimize

wandb:
  enabled: true
  project: bnn-edl
  name: null
  log_interval: 20
  summary_metrics:
    val:
      - name: accuracy
        mode: maximize
      - name: loss
        mode: minimize
    test:
      - name: accuracy
        mode: maximize
      - name: loss
        mode: minimize

evaluation:
  train:
    interval: 0
    metrics:
      - name: loss
  val:
    interval: 1
    metrics:
      - name: accuracy
      - name: loss
  test:
    interval: -1
    metrics:
      - name: accuracy
      - name: loss
