defaults:
  - dataset: cifar10
  - model: resnet20
  - training: standard
  - _self_

seed: 1

training:
  wandb:
    name: cifar10_resnet20
  num_epochs: 100

  optimizer:
    lr: 0.001

dataset:
  splits:
    train:
      transforms:
        - name: random_crop
          params:
            size: 32
            padding: 4
        - name: random_horizontal_flip
          params:
            p: 0.5
        - name: to_tensor
        - name: normalize
          params:
            mean: [0.4914, 0.4822, 0.4465]
            std: [0.2470, 0.2435, 0.2616]
    
    val:
      transforms:
        - name: to_tensor
        - name: normalize
          params:
            mean: [0.4914, 0.4822, 0.4465]
            std: [0.2470, 0.2435, 0.2616]
    
    test:
      transforms:
        - name: to_tensor
        - name: normalize
          params:
            mean: [0.4914, 0.4822, 0.4465]
            std: [0.2023, 0.1994, 0.2010]

