defaults:
  - dataset: cifar10
  - model: resnet20
  - training: standard
  - _self_

seed: 1

training:

  early_stopping:
    enabled: true
    dataset: test
    metric: accuracy
    patience: 10
    min_delta: 0.0
    mode: min

  checkpoint:
    enabled: true
    dataset: test
    metric: accuracy

  wandb:
    name: cifar10_resnet20
  num_epochs: 100

  optimizer:
    lr: 0.001

  evaluation:
    train:
      interval: 0
      metrics:
        - name: loss
    val:
      interval: 0
      metrics:
        - name: accuracy
        - name: loss
    test:
      interval: 1
      metrics:
        - name: accuracy
        - name: loss

dataset:
  splits:
    train:
      fraction: 1.0
    val:
      fraction: 0.0
    test:
      fraction: 1.0

