defaults:
  - dataset: cifar10
  - model: resnet20
  - training: bnn_sgld
  - _self_

seed: 1

model:
  params:
    output_layer_config:
      type: linear
      params:
        num_classes: 10

training:
  device: auto
  num_epochs: 500

  pretrained:
    enabled: true
    path: /home/ra65puy/ra65puy_lrz_mount/BNN-EDL/outputs/2026-02-13/16-33-55/best_model.pt


  wandb:
    name: cifar10_resnet20_bnn_sgld_pretrained_0.01_temperature

  likelihood:
    name: categorical

  prior:
    name: diagonal_normal
    sd: 1.0
    normalize: false

  optimizer:
    name: sgld
    lr: 0.005
    temperature: 0.01

  scheduler:
    enabled: false

  sampling:
    enabled: true
    start_epoch: 200
    sample_interval: 1

  checkpoint:
    enabled: true
    dataset: test
    metric: accuracy
    objective: maximize

  early_stopping:
    enabled: false
    dataset: test
    metric: accuracy
    patience: 20
    min_delta: 0.0
    objective: maximize

  evaluation:
    train:
      interval: 0
    val:
      interval: 0
    test:
      interval: 1

dataset:
  batch_size: 256
  num_workers: 2
  splits:
    train:
      fraction: 1.0
    val:
      fraction: 0.0
    test:
      fraction: 1.0
