defaults:
  - dataset: mnist
  - model: mlp
  - training: standard
  - _self_

seed: 1

model:
  params:
    output_layer_config:
      type: dirichlet
      params:
        num_classes: 10

training:
  device: cpu
  wandb:
    name: edl_mnist_mlp
  
  loss:
    name: evidential_classification
    params:
      lamb: 0.01

# Override: add flatten transform for MLP
dataset:
  splits:
    train:
      transforms:
        - name: to_tensor
        - name: normalize
          params:
            mean: [0.1307]
            std: [0.3081]
        - name: flatten
    
    val:
      transforms:
        - name: to_tensor
        - name: normalize
          params:
            mean: [0.1307]
            std: [0.3081]
        - name: flatten
    
    test:
      transforms:
        - name: to_tensor
        - name: normalize
          params:
            mean: [0.1307]
            std: [0.3081]
        - name: flatten
